
<div class="form-group">
  <label class="control-label">Choose currency</label>
  <tw-select
    ng-model="$ctrl.currency"
    options="$ctrl.currencies"
    placeholder="Choose currency..."
  ></tw-select>
</div>

<account-email-lookup
  on-success="$ctrl.onLookupSuccess(recipient)"
  on-failure="$ctrl.onLookupFailure()"
  on-override="$ctrl.onLookupOverride(override)"
></account-email-lookup>


<account-details-create
  ng-if="!$ctrl.uniqueIdRecipient || $ctrl.overrideUniqueId"
  currency="$ctrl.currency"
  on-change="$ctrl.onModelChange(model)"
  on-success="$ctrl.onSaveSuccess()"
  on-failure="$ctrl.onSaveFailure()">
</account-details-create>
