<div class="form-group"
  ng-class="{ 'has-success': $ctrl.recipient }">
  <label class="control-label">
    {{ $ctrl.translations.email.label }}
  </label>
  <input
    name="email"
    class="form-control"
    placeholder="{{ $ctrl.translations.email.placeholder }}"
    ng-model="$ctrl.email"
    ng-model-options="{ debounce: 500 }"
    ng-change="$ctrl.onEmailChange()" />
  <div class="alert alert-success" ng-if="$ctrl.recipient">
    {{ $ctrl.recipient.name }} {{ $ctrl.translations.email.success }}
  </div>
</div>
<div class="form-group"
  ng-if="$ctrl.recipient">
  <label class="control-label">
    {{ $ctrl.translations.uniqueId.label }}
  </label>
  <div class="radio radio-lg">
    <label>
      <tw-radio
        name="uniqueId"
        ng-value="true"
        ng-model="$ctrl.useUniqueId"
        ng-change="$ctrl.onChangeUniqueIdChoice({ useUniqueId: true })"></tw-radio>
      {{ $ctrl.recipient.name }}
      <small>
        {{ $ctrl.recipient.currency }} {{ $ctrl.translations.uniqueId.toUniqueId }}
        {{ $ctrl.recipient.shortAccountString.slice(-4) }}
      </small>
    </label>
  </div>
  <div class="radio">
    <label>
      <tw-radio
        name="uniqueId"
        ng-value="false"
        ng-model="$ctrl.useUniqueId"
        ng-change="$ctrl.onChangeUniqueIdChoice({ useUniqueId: false })"></tw-radio>
      {{ $ctrl.translations.uniqueId.toBankDetails }}
    </label>
  </div>
</div>
