
<div class="form-group">
  <label class="control-label">
    {{ $ctrl.translations.accountDetails.label }}
  </label>
  <div class="checkbox" ng-class="{ 'has-info': !$ctrl.hasDetails }">
    <label>
      <tw-checkbox
        ng-init="$ctrl.hasDetails = true;"
        ng-model="$ctrl.hasDetails"
        ng-true-value="true"
        ng-false-value="false" checked></tw-checkbox>
      {{ $ctrl.translations.accountDetails.value }}
    </label>
    <div class="alert alert-info" ng-if="!$ctrl.hasDetails">
      {{ $ctrl.translations.accountDetails.info }}
    </div>
  </div>
</div>

<account-email-lookup
  on-change="$ctrl.onEmailChange(email)"
  on-use-unique-id="$ctrl.onUseUniqueId(recipient)"
  on-enter-manually="$ctrl.onEnterManually()"
></account-email-lookup>

<div class="form-group"
  ng-if="$ctrl.isCountrySelectorVisible()">
  <label class="control-label">
    {{ $ctrl.translations.country.label }}
  </label>
  <tw-select
    ng-model="$ctrl.model.country"
    options="$ctrl.targetCountries"
    ng-change="$ctrl.refreshRequirements()"
    name="targetCountry"
  ></tw-select>
</div>

<form
  ng-if="$ctrl.isAccountFormVisible()"
  name="accountCreateForm"
  novalidate
  ng-submit="accountCreateForm.$valid && $ctrl.saveAccount()"
  ng-class="{'m-t-panel': $ctrl.alternatives.length > 1}">

  <tw-requirements-form
    ng-if="$ctrl.alternatives"
    model="$ctrl.model"
    requirements="$ctrl.alternatives"
    error-messages="$ctrl.errors"
    validation-messages="$ctrl.translations.validation"
    on-refresh-requirements="$ctrl.refreshRequirements()">
  </tw-requirements-form >
  <input type="submit"
    value="{{ $ctrl.saveButtonLabel }}"
    class="btn btn-block btn-primary" />
</form>
